<div class="row">
  <label for="input1">H0:</label>
  <input id="input1" [(ngModel)]="h0" name="h0">
</div>
<div class="row">
  <label for="input2">actual value:</label>
  <input id="input2" [(ngModel)]="actual" name="actual">
</div>
<div class="row">
  <label for="input3">n:</label>
  <input id="input3" [(ngModel)]="n" name="n">
</div>
<div class="row">
  <label>
    <input type="checkbox" [(ngModel)]="onesided">
    <span>onesided</span>
  </label>
</div>
<div style="display: flex; flex-direction: row;">
  <button (click)="calculate()">Submit</button>
</div>
